@font-face {
  font-family: "lb";
  src: url("Libre Baskerville/LibreBaskerville-Regular.otf");
}

@font-face {
  font-family: "lbBold";
  src: url("Libre Baskerville/LibreBaskerville-Bold.otf");
}

@font-face {
  font-family: "lbItalic";
  src: url("Libre Baskerville/LibreBaskerville-Italic.otf");
}

html {
  height: 100%;
  margin: 0;
  cursor: default;
}

body {
  height: 100%;
  margin: 0;
  background-color: #f8f8ff;
  overflow: hidden;
}

h1 {
  margin: auto;
  text-align: center;
  font-size: 4em;
  font-family: lbBold;
  padding: 5px;
  border-bottom: 1px solid black;
  width: 50%;
}

#logoTypeControls {
  width: 50%;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
}

h2 {
  font-size: 1.5em;
  font-family: lb;
}

.button {
  font-size: 1vw;
  margin: auto;
  font-family: sans-serif;
  background-color: inherit;
  border: 2px solid black;
  box-shadow: 1px 1px 5px gray;
}

.button:hover {
  background-color: #ebc034;
  cursor: pointer;
}

#divider {
  border-right: 1px solid black;
}

#inputDiv {
  margin: auto;
  padding: 10px;
  display: flex;
  align-items: center;
}

#input {
  font-size: 2em;
  padding: 5px;
  margin: auto;
  margin-bottom: 1em;
}

.invisible {
  display: none !important;
}

.output {
  width: 70%;
  height: 50%;
  padding: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outputSS {
  margin-top: 10%;
}

#output1 {
  justify-content: center;
}

#output2 {
  justify-content: center;
}

#output3 {
  justify-content: flex-start;
}

object {
  display: block;
}

.oneTwoLineDynamic {
  margin: 0;
  display: flex;
  width: 90%;
  transform-origin: top left;
}

.threeLineDynamic {
  margin: 0;
  display: flex;
  transform-origin: top center;
}

.oneLineScaleY {
  margin-left: 0.5em;
  transform: scaleY(1.2);
  transform-origin: bottom;
}

.twoLineScaleY {
  margin-left: 0.5em;
  transform: scaleY(1.1);
  transform-origin: bottom;
}

.threeLineScaleY {
  transform: scaleY(1.3);
  transform-origin: bottom;
}

.oneTwoLineLogoTop {
  width: 90%;
  margin: 0 auto;
}

.threeLineLogoTop {
  width: 50%;
  margin: 0 auto;
}

#logoTop3 {
  width: 100%;
}

.oneTwoLineLogoBot {
  width: 1000px;
}

.threeLineLogoBot {
  width: 200px;
}

.oneLine {
  margin: auto;
}

.moreLines {
  margin: auto;
  margin-top: 0;
}

.oneTwoLineSpacing {
}

.threeLineSpacing {
  font-size: 1.7em;
}

.oneLineOutput {
  font-size: 4.9em;
  letter-spacing: -4px;
  font-family: lb;
  margin-top: 0;
  white-space: nowrap;
}

.twoLineOutput {
  font-size: 10.7em;
  letter-spacing: -6px;
  padding-left: 0.1em;
  font-family: lb;
  margin-top: 0;
  white-space: nowrap;
}

.threeLineOutput {
  padding-left: 0.2em;
  font-size: 11em;
  font-family: lb;
  margin-top: 0;
  white-space: nowrap;
}

footer {
  font-family: lb;
  text-align: center;
  margin: auto;
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
}

#show {
  border: none;
  background-color: transparent;
  width: 100%;
  height:100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
